//Heigths and widths

$complete-width-height: 100%;
$section-width: 30%;
$dot-sizing: 10px;
$default-img-height: 60px;

//Font
$default-font-family: 'Varela Round', sans-serif;
$default-font-size: 13px;
$small-font-size: 11px;


//colors 
$green-dot-color: greenyellow;
$default-font-color: #584e50;
$alternative-font-color: #e0dadd;
$contact-color: #ececfa;
$selected-color: #fdfdfe;
$chat-color-contact: #6f7399;

